* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(szilvia-basso-uQSLAhiVAmg-unsplash.jpg);
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: white;
  background-color: darkmagenta;
}

button {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: powderblue;
}

img {
  max-width: 10rem;
  max-height: 10rem;
}
