body {
  background-color: lightpink;
  font-family: "Nunito", sans-serif;
  color: white;
}

#post-container {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

#post-container div {
  background-color: aliceblue;
  color: black;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
}
